[data-md-color-scheme="default"] {
  --md-primary-fg-color:               #02caf3;
  --md-accent-fg-color:                #09afce;
}



[data-md-color-scheme="slate"] {
  --md-primary-fg-color:               #36DBFD;
  --md-accent-fg-color:                #18D2F5;
}

  .md-header {
    background: linear-gradient(90deg, #7F01A0 0%, #0149B6 92.91%);
}

.md-tabs {
  background: linear-gradient(90deg, #7F01A0 0%, #0149B6 92.91%);
}


:root {
  --md-admonition-icon--security: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="XMLID_504_"> <path id="XMLID_505_" d="M65,330h200c8.284,0,15-6.716,15-15V145c0-8.284-6.716-15-15-15h-15V85c0-46.869-38.131-85-85-85 S80,38.131,80,85v45H65c-8.284,0-15,6.716-15,15v170C50,323.284,56.716,330,65,330z M207.481,219.356l-42.5,42.5 c-2.929,2.929-6.768,4.394-10.606,4.394s-7.678-1.465-10.606-4.394l-21.25-21.25c-5.858-5.858-5.858-15.354,0-21.213 c5.857-5.858,15.355-5.858,21.213,0l10.644,10.643l31.894-31.893c5.857-5.858,15.355-5.858,21.213,0 C213.34,204.002,213.34,213.498,207.481,219.356z M110,85c0-30.327,24.673-55,55-55s55,24.673,55,55v45H110V85z"></path> </g> </g></svg>')
}

.md-typeset .admonition.security,
.md-typeset details.security {
  border-color: rgb(245, 223, 52);
}
.md-typeset .security > .admonition-title,
.md-typeset .security > summary {
  background-color: rgba(155, 142, 43, 0.1);
}
.md-typeset .security > .admonition-title::before,
.md-typeset .security > summary::before {
  background-color: rgb(245, 223, 52);
  -webkit-mask-image: var(--md-admonition-icon--security);
          mask-image: var(--md-admonition-icon--security);
}

.icon-check {
  color: #3CB371;
}

.icon-x {
  color: #B22222;
}
